html {
  font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

h2 {
  text-align: center;
  color: $granny-smith;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.red {
  color: $pomegranate;
}

.green {
  color: $emerald;
}

a {
  color: $viking;
  text-decoration: none;
}