//
// 	Colors
//------------------------------------

$athens-gray:   #f2f3f5;
$granny-smith:  #859899;
$viking:        #52c9d2;
$russett:       #7b5e56;
$outer-space:   #2c3238;
$black:         #000000;
$emerald:       #4ed777;
$old-gold:      #cba73f;
$pomegranate:   #f44336;

//
// 	Box
//------------------------------------
$box-border-radius: 5px;