//
// 	Colors
//------------------------------------

$athens-gray:   #f2f3f5;
$granny-smith:  #859899;
$viking:        #52c9d2;
$russett:       #7b5e56;
$outer-space:   #2c3238;
$black:         #000000;
$emerald:       #4ed777;
$old-gold:      #cba73f;
$pomegranate:   #f44336;


//
// 	Frequently used
//------------------------------------
$box-border-radius: 5px;
$transition-all-04: all 0.4s ease-in-out;
$transition-all-02: all 0.2s ease-in-out;
$text-shadow-blur: 0 0 3px;

//
// 	Breakpoints for Media Queries
//------------------------------------
$breakpoints: (
  xs: 576px,
  sm: 758px,
  md: 992px,
  lg: 1200px
);