html {
  background: $outer-space;
  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.initiative {
  display: flex;
  justify-content: space-between;
  width: 65vw;
}