html {
  background: $outer-space;
  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.initiative {
  display: none;
  justify-content: space-between;
  width: 65vw;
  @include screen(md) {
    display: flex;
  }
}

.roll-dice {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  @include screen(md) {
    width: 30vw;
  }
}