#roll-dice {
  display: flex;
  justify-content: space-between;
  width: 30vw;

  .results {
    width: 50%;
  }
  #result {
    box-shadow: 0 0 8px rgba($black, 0.3);
    border-radius: $box-border-radius;
    padding: 12px;
    height: 250px;
    max-height: 300px;
    color: $athens-gray;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      display: block;
      background: linear-gradient(rgba($outer-space, 0), $outer-space 75%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 75px;
    }

    .rollResult {
      font-size: 1.4rem;
      margin-bottom: 8px;
      opacity: 1;
      max-height: 100%;
      animation: slide-down 0.2s ease-in;
      
      .rollTotal {
        margin-bottom: 4px;
        .rolledDice {
          display: inline-block;
          padding: 3px;
          background: $athens-gray;
          color: $outer-space;
        }
        .rolledResult {
          margin-left: 4px;
          color: $viking;
          font-size: 1.8rem;
          text-shadow: 0 0 3px rgba($viking, 0.7);
        }
      }
      .rollAll {
        font-size: 1.2rem;
        color: $granny-smith;
      }
    }
  }

  #dices {
    width: 40%;
    .dice {
      box-shadow: 0 0 8px rgba($black, 0.3);
      padding: 10px;
      margin-bottom: 16px;
      transition: all .2s ease-in-out;

      &:hover {
        box-shadow: 0 0 12px rgba($black, 0.3);
      }

      h4 {
        margin: 4px 0 8px;
        color: $athens-gray;
        font-size: 1.6rem;
        text-align: center;
      }
      
      form {
        display: flex;
        justify-content: space-around;

        input {
          background: $outer-space;
          color: $viking;
          border: none;
          outline: none;
          border-bottom: 1px solid $viking;
          font-size: 2rem;
          text-align: center;
          width: 50%;
          margin-bottom: 8px;
          padding: 4px 0;
          text-shadow: 0 0 3px rgba($viking, 0.7);
          &:focus {
            outline: none;
          }
        }

        button {
          border: none;
          background: $outer-space;
          outline: none;
          text-align: center;
          font-size: 3rem;
          color: $athens-gray;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}