.roll-dice {
  .results {
    width: 100%;
    h2 {
      display: none;
      @include screen(sm) {
        display: block;
      }
    }
    @include screen(lg) {
      width: 50%;
    }
  }
  #result {
    border-radius: $box-border-radius;
    padding: 6px;
    height: 140px;
    max-height: 500px;
    color: $athens-gray;
    overflow: hidden;
    position: fixed;
    background: $outer-space;
    width: 100%;
    margin: -8px -8px 0;

    @include screen(sm) {
      box-shadow: 0 0 8px rgba($black, 0.3);
      padding: 12px;
      height: 370px;
      position: relative;
      margin: 0;
    }

    &:after {
      content: '';
      display: block;
      background: linear-gradient(rgba($outer-space, 0), $outer-space 75%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50px;
      @include screen(sm) {
        height: 75px;
      }
    }

    .rollResult {
      font-size: 1.4rem;
      margin-bottom: 8px;
      opacity: 1;
      max-height: 100%;
      animation: slide-down 0.2s ease-in;
      
      .rollTotal {
        margin-bottom: 4px;
        .rolledDice {
          display: inline-block;
          padding: 3px;
          background: $athens-gray;
          color: $outer-space;
          &.crit {
            background: $emerald;
            color: $athens-gray;
          }
          &.fail {
            background: $pomegranate;
            color: $athens-gray;
          }
        }
        .rolledResult {
          margin-left: 4px;
          color: $viking;
          font-size: 1.8rem;
          text-shadow: $text-shadow-blur rgba($viking, 0.7);
          &.crit {
            color: $emerald;
            text-shadow: $text-shadow-blur rgba($emerald, 0.7);
          }
          &.fail {
            color: $pomegranate;
            text-shadow: $text-shadow-blur rgba($pomegranate, 0.7);
          }
          &.errorText {
            margin-left: 0;
            font-size: 1.4rem;
          }
        }
      }
      .rollAll {
        font-size: 1.2rem;
        color: $granny-smith;
      }
    }
  }

  .dices-wrapper {
    width: 100%;
    margin-top: 140px;
    @include screen(lg) {
      width: 40%;
      margin-top: 0;
    }
    h2 {
      display: none;
      @include screen(sm) {
        display: block;
      }
    }
    .dices {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .dice {
        width: calc(50% - 10px);
        margin: 5px;
        &.d100 {
          width: 100%;
        }
        @include screen(lg) {
          width: 100%;
          margin: 0 0 16px;
        }
      }
    }
    .dice {
      box-shadow: 0 0 8px rgba($black, 0.3);
      padding: 5px 10px;
      transition: $transition-all-02;
      @include screen(sm) {
        padding: 10px;
      }
      &:hover {
        box-shadow: 0 0 12px rgba($black, 0.3);
      }

      h4 {
        margin: 4px 0;
        color: $athens-gray;
        font-size: 1.6rem;
        text-align: center;
        @include screen(sm) {
          margin: 4px 0 8px;
        }
      }
      
      form {
        display: flex;
        justify-content: space-around;

        input {
          background: $outer-space;
          color: $viking;
          border: none;
          outline: none;
          border-bottom: 1px solid $viking;
          font-size: 2rem;
          text-align: center;
          width: 50%;
          margin-bottom: 8px;
          padding: 4px 0;
          text-shadow: $text-shadow-blur rgba($viking, 0.7);
          &:focus {
            outline: none;
          }
        }

        button {
          border: none;
          background: $outer-space;
          outline: none;
          text-align: center;
          font-size: 3rem;
          color: $athens-gray;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}