footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  .footerBtn {
    background: darken($outer-space, 3%);
    border: none;
    flex: 1;
    font-size: 3rem;
    color: $granny-smith;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &.active {
      color: $emerald;
    }
    @include screen(md) {
      display: none;
    }
  }
  .info-button {
    color: $granny-smith;
    background: darken($outer-space, 3%);
    border: none;
    font-size: 2rem;
    padding: 16px 24px;
    cursor: pointer;
    max-width: 58px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
