.initiative {
  &.end {
    .initiativeList {
      .list {
        .turnBox {
          opacity: 1;
        }
      }
    }
  }
  h2 {
    display: none;
    @include screen(md) {
      display: block;;
    }
  }
  .initiativeList {
    width: 100%;
    @include screen(md) {
      width: 60%;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .round {
        color: $athens-gray;
        font-size: 1.6rem;
        text-transform: uppercase;

        #roundCounter {
          margin-left: 4px;
          text-shadow: $text-shadow-blur rgba($athens-gray, 0.7);
        }
      }

      button {
        background: transparent;
        border: none;
        color: $pomegranate;
        font-size: 2rem;
        padding: 4px 8px;
        border-radius: 3px;
        text-shadow: $text-shadow-blur rgba($pomegranate, 0.2);
        transition: $transition-all-02;
        &:hover {
          background: rgba($pomegranate, 0.1);
          text-shadow: $text-shadow-blur rgba($pomegranate, 1);
          cursor: pointer;
        }
        &:focus {
          outline: none;
          background: rgba($pomegranate, 0.3);
        }
      }
    }

    .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .turnBox {
        display: flex;
        justify-content: center;
        width: calc(50% - 25px);
        position: fixed;
        bottom: 64px;
        opacity: 0;
        @include screen(md) {
          width: 10%;
        }
        .turnBtn {
          display: flex;
          justify-content: center;
          align-content: center;
          width: 80%;
          height: 100%;
          background: rgba($granny-smith, 0.2);
          border: none;
          font-size: 3.2rem;
          border-radius: $box-border-radius;
          color: $athens-gray;
          transition: $transition-all-02;
          text-shadow: $text-shadow-blur rgba($granny-smith, 0.7);
          @include screen(md) {
            background: transparent;
          }
          &:hover {
            background: rgba($granny-smith, 0.2);
            text-shadow: $text-shadow-blur rgba($athens-gray, 0.7);
            cursor: pointer;
          }
          &:focus {
            outline: none;
          }
        }
        &.prevBox {
          order: 2;
          left: 0;
          @include screen(md) {
            order: 1;
          }
        }
        &.nextBox {
          order: 4;
          right: 0;
          @include screen(md) {
            order: 3;
          }
        }

        &.openForm {
          order: 3;
          left: calc(50% - 18px);
          width: 36px;
          border: 2px solid $emerald;
          color: $emerald;
          font-size: 2.8rem;
          box-sizing: border-box;
          border-radius: $box-border-radius;
          background: transparent;
          &:focus {
            outline: none;
          }
          @include screen(md) {
            display: none;
          }
        }
      }

      .order {
        width: 100%;
        padding: 0 10px;
        position: relative;
        order: 1;
        @include screen(md) {
          width: 80%;
          order: 2;
        }
      }
    }

    .character {
      background: transparent;
      color: $athens-gray;
      margin-bottom: 12px;
      padding: 8px 8px 8px 48px;
      box-shadow: 0 0 10px rgba($black, 0.2);
      transition: $transition-all-02;
      position: relative;
      overflow: hidden;
      opacity: 0;
      animation: slide-up-in 0.2s ease-in forwards;
      
      &.open {
        .boxActions {
          height: 36px;
          padding-top: 8px;
        }
      }

      &:before {
        content: '\f007';
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 300;
        font-size: 2rem;
        left:0;
        top:0;
        bottom: 0;
        width: 32px;
        background: $viking;
      }

      &.pc {
        background: rgba($viking, 0.15);
        &:hover {
          background: rgba($viking, 0.2);
          box-shadow: 0 0 10px rgba($viking, 1);
        }
      }
      &.npc {
        background: rgba($emerald, 0.15);
        &:before {
          content: '\f6a4';
          background: $emerald;
        }
        &:hover {
          background: rgba($emerald, 0.2);
          box-shadow: 0 0 10px rgba($emerald, 1);
        }
      }
      &.monster {
        background: rgba($pomegranate, 0.15);
        &:before {
          content: '\f702';
          background: $pomegranate;
        }
        &:hover {
          background: rgba($pomegranate, 0.2);
          box-shadow: 0 0 10px rgba($pomegranate, 1);
        }
      }

      &.death {
        &:before {
          content: '\f54c';
          background: rgba($pomegranate, 0.5);
          animation: death-pulse 2.5s infinite;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .stats {
        display: flex;
        justify-content: space-between;
        color: rgba($athens-gray, 0.6);
        margin-bottom: 6px;
        .rolledInitiative {
          font-size: 1.4rem;
          span {
            margin-left: 2px;
          }
        }
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          font-size: 2.4rem;
          text-shadow: $text-shadow-blur rgba($athens-gray, 0.6);
        }
        .health {
          color: $pomegranate;
          text-shadow: $text-shadow-blur rgba($pomegranate, 0.3);
          font-size: 1.8rem;
          cursor: pointer;
          span {
            margin-left: 4px;
          }
        }
      }

      .boxActions {
        height: 0;
        overflow: hidden;
        transition: $transition-all-02;
        text-align: right;
        .btnHealth {
          background: none;
          border: 2px solid $pomegranate;
          border-radius: 2px;
          color: $pomegranate;
          text-shadow: $text-shadow-blur rgba($pomegranate, 0.3);
          cursor: pointer;
          &.incHealth {
            border-color: $emerald;
            color: $emerald;
            text-shadow: $text-shadow-blur rgba($emerald, 0.3);
          }
          &:focus {
            outline: none;
          }
        }
        input {
          display: inline-block;
          width: 40px;
          font-size: 1.6rem;
          color: $athens-gray;
          background: none;
          border: none;
          border-bottom: 2px solid $athens-gray;
          text-align: center;
          margin: 0 6px;
          padding: 4px 0;
          text-shadow: $text-shadow-blur rgba($athens-gray, 0.3);
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@for $i from 1 through 15 {
  .initiative {
    .initiativeList {
      .character:nth-child(#{$i}) {
        animation-delay: 100ms * $i;
      }
    }
  }
}

@keyframes death-pulse {
    0% {
        color: $athens-gray;
    }
    50% {
        color: $pomegranate;
    }
    100% {
        color: $athens-gray;
    }
}
@keyframes slide-up-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
