.buttonMixin {
  color: $athens-gray;
  background: transparent;
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-left: 4px;
  font-size: 1.2rem;
  border: 2px solid $athens-gray;
  transition: $transition-all-02;
  &:hover {
    background: rgba($granny-smith, 0.1);
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.initiative {
  .form {
    width: 40%;

    .actions {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;

      .addBtn {
        @extend .buttonMixin;
        &:first-child {
          margin-left: 0;
        }
        &.pc {
          border-color: $viking;
          color: $viking;
        }
        &.npc {
          border-color: $emerald;
          color: $emerald;
        }
        &.monster {
          border-color: $pomegranate;
          color: $pomegranate;
        }
      }
    }

    .addFormBox {
      width: 90%;
      margin: 0 auto;
      height: 255px;
      padding: 36px 16px 16px;
      box-shadow: 0 0 8px rgba($black, 0.3);
      transition: $transition-all-04;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      &.hidden {
        height: 0;
        padding: 0 16px;
      }
      .addForm {
        &[data-type="pc"] {
          &:before,
          .characterIcon {
            background: $viking;
          }
        }
        &[data-type="npc"] {
          &:before,
          .characterIcon {
            background: $emerald;
          }
        }
        &[data-type="monster"] {
          &:before,
          .characterIcon {
            background: $pomegranate;
          }
        }
        &:before {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          right: 0;
          height: 4px;
          top: 0;
          background: $viking;
        }
        .characterIcon {
          position: absolute;
          left: -31px;
          top: -30px;
          background: $viking;
          display: inline-block;
          border-radius: 60px;
          width: 70px;
          padding: 0 13px;
          height: 70px;
          line-height: 93px;
          text-align: right;
          color: $athens-gray;
          font-size: 2rem;
        }
        .inputGroup {
          margin-top: 20px;
          margin-bottom: 24px;
          position: relative;

          &.focused {
            label {
              bottom: 44px;
              left: 8px;
            }
          }
          label {
            position: absolute;
            color: $granny-smith;
            bottom: 12px;
            left: 40px;
            font-size: 1.4rem;
            transition: $transition-all-04;
          }

          i {
            position: absolute;
            left: 12px;
            bottom: 12px;
            font-size: 1.6rem;
            color: $viking;
          }
          input {
            display: inline-block;
            width: 100%;
            border: 2px solid $granny-smith;
            box-shadow: 0 0 0 rgba($athens-gray, 0);
            background: transparent;
            color: $viking;
            height: 40px;
            padding: 0 20px 0 40px;
            font-size: 1.6rem;
            transition: $transition-all-02;
            text-shadow: $text-shadow-blur rgba($viking, 0.3);

            &:focus {
              outline: none;
              box-shadow: 0 0 5px rgba($athens-gray, 0.5);
            }

            &.error {
              border-color: $pomegranate;
            }
          }
          &.charHealth {
            display: inline-block;
            width: 48%;
            margin-right: 3%;
          }
          &.charInitiative {
            display: inline-block;
            width: 48%;
          }
        }
        .addBtn {
          @extend .buttonMixin;
          display: block;
          width: 60%;
          margin: 0 auto;
        }
      }
    }
  }
}